.btnComplete {
	-fx-background-image: url("../images/complete.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 15px 1px;
	-fx-background-size: 23px 23px;
}

.btnEdit {
	-fx-background-image: url("../images/edit.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 15px 0px;
	-fx-background-size: 18px 15px;
	-fx-cursor: hand;
}

.btnDelete {
	-fx-background-image: url("../images/delete.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 15px 1px;
	-fx-background-size: 18px 18px;
}

.table-row-cell {
    -fx-cell-size: 25px;
}