.btnComplete {
	-fx-background-image: url("../images/complete.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 15px 0px;
	-fx-background-size: 18px 15px;
	-fx-cursor: hand;
}

.btnEdit {
	-fx-background-image: url("../images/edit.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 15px 0px;
	-fx-background-size: 18px 15px;
	-fx-cursor: hand;
}

.btnDelete {
	-fx-background-image: url("../images/delete.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: 15px 0px;
	-fx-background-size: 18px 15px;
	-fx-cursor: hand;
}

.table-row-cell {
    -fx-cell-size: 25px;
}


/******************************************** Dialogs *********************************************/

#textArea,.cell-textarea {
-fx-background-color: rgba(0, 0, 0, 0.0);
-fx-font-size: 13;
}
#textArea .scroll-pane , .cell-textarea .scroll-pane{
-fx-background-color: transparent;
}
#textArea .scroll-pane .viewport, .cell-textarea .scroll-pane .viewport {
-fx-background-color: transparent;
}
#textArea .scroll-pane .content, .cell-textarea .scroll-pane .content {
-fx-background-color: transparent;
}
#textArea *.text, .cell-textarea *.text {
-fx-text-alignment: left;
}

/************************************Spreadsheet*****************************************/


.spreadsheet-cell.date-cell{
	-fx-background-color: #197de1;
	-fx-text-color: #FFFFFF;
	 -fx-alignment: center;
	 -fx-pref-width: 60px;
}

.spreadsheet-cell.value-cell{
	-fx-pref-width: 70px;
	-fx-min-width: 70px;
}

.spreadsheet-cell.empty-cell{
	-fx-pref-width: 0px;
	-fx-min-width: 0px;
}
